"외부 경로를 지정할 때는 다음과 같이 한다.
"source /Users/johngrib/git/myconfig/vim/.ideavimrc

" 참고 link ---------------------------------------------------------------------

  "http://ideavim.sourceforge.net/vim/
  "https://github.com/JetBrains/ideavim/blob/master/doc/set-commands.md
  "https://gist.github.com/zchee/9c78f91cc5ad771c1f5d " action list

  nnoremap <F10>r :source ~/.ideavimrc<CR>

" set commands -----------------------------------------------------------------

  set nu
  set hi=100 "history=100
  set hls    "hlsearch
  set ic     "ignorecase
  set is     "incsearch
  set scs    "smartcase
  set mps    "matchpairs
  set ul=2000 "undolevels

" copy , paste , select 기능 보완 ------------------------------------------------

  nnoremap Y y$
  nnoremap <Space>y "+y
  vnoremap <Space>y "+y
  nnoremap <Space>p "+p
  nnoremap <Space>a ggVG
  vnoremap <Space>a ggVG

" 키 navigation 기능 보완 ---------------------------------------------------------
  nnoremap <Space>h ^
  nnoremap <Space>l $
  noremap <Space>j 8j
  noremap <Space>k 8k
  nnoremap gr gT
  nnoremap gl 1gtgT
  nnoremap gf 1gt

" IntelliJ action 명령 테스트 ----------------------------------------------------

  "ideavim 에서는 :command 명령을 사용할 수 없다...

  "아래와 같이 설정해주지 않아도 == 으로 사용 가능.
  "nnoremap == :action AutoIndentLines

  "라인 스플릿. :action 을 부르는 방식의 성능이 나쁘고, number operation 반복이 안 됨.
  "nnoremap <c-j> :action EditorSplitLine<CR>
  nnoremap <c-j> i<CR><ESC>

  ":tabonly 가 통하지 않으므로 다음과 같이 하였다.
  nnoremap <F10>o :action CloseAllEditorsButActive<CR>

  "다음 기능들은 검색 창이 열린 다음에 포커스가 곧바로 에디터로 이동하므로 불편하고 쓸모가 없음.
  "실행한 다음 포커스가 남아 있기만 해도 굉장히 쓸만할 것 같은데 아쉽다.
  "nnoremap <F10>g :action GotoFile<ENTER>  
  "nnoremap <F10>r :action RecentFiles<CR>
  "nnoremap <F10>s :action Switcher<CR>

" IntelliJ IDEA 에서 제공하지 않는 VIM 기능들 ----------------------------------------

  "ideavim 에서는 <C-P>, <C-N> 이 작동하지 않는다. 대신 IntelliJ 의 keymap 중
  "  Main Menu > Code > Code > Completion > Cyclic Expand Word 가 비슷한 기능을 한다.
  "  Cyclic Expand Word 에 ^p, Cyclic Expand Word (Backward) 에 ^n 을 지정해주면 된다.
  "  단, vim 과는 달리 리스트가 회전하지 않으므로 사용할 때 좀 짜증난다. 

" IntelliJ 에서의 mark 사용 -------------------------------------------------------

  " m[a-zA-Z] 로 사용 가능하며, m[0-9] 는 작동하지 않는다.
  " 범위는 파일이므로 mark 로 파일을 넘나들 수는 없다.
  " 단, :marks 로 확인은 가능하다.
  " IntelliJ 의 내부 기능인 GotoBookmark[0-9] 를 사용하면 괜찮을 것 같아서 테스트를 해 봤지만, 잘 통하지 않는다.
  " m0, '0 은 잘 되지만, 0 외의 숫자는 m 과 함께 작동하지 않는다.
  " 따라서 m[0-9] 방식은 사용할 수가 없다.
  " 궁여지책으로 IntelliJ 내부 키맵으로 <M-M>[0-9] 로 등록하여 사용하고 있다.
  "nnoremap '0 :action GotoBookmark0 <CR>
  "nnoremap m0 :action ToggleBookmark0 <CR>

" custom command 가 불가능하니 F10 키에 이것저것 붙여보자.

